<div class="container-fluid">
  	<div class="row justify-content-md-center">
			<div class="col col-lg-2 ">
        	<%= @tarea.titulo %>
			</div>	
				
			<div class="col col-md-auto">
        	<%= @tarea.nota %> 
			</div>

			<div class="col col-lg-2"> 
				<button type="button" class="btn btn-link"><%= link_to 'Regresar', root_path %></button>   
			</div>
		</div>        
</div>
       




                        
                
                